@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --full-slider-bar: hsl(174, 77%, 80%);
  --slider-background: hsl(174, 86%, 45%);
  --discount-background: #feece7;
  --discount-text: hsl(15, 100%, 70%);
  --CTA-text: hsl(226, 100%, 87%);
  --White: hsl(0, 0%, 100%);
  --Main-background: hsl(230, 100%, 99%);
  --Empty-slider-bar: hsl(224, 65%, 95%);
  --toggle-background: hsl(223, 50%, 87%);
  --Text: hsl(225, 20%, 60%);
  --Text-and-CTA-background: hsl(227, 35%, 25%);
  --min-font-width: 600;
  --max-font-width: 800;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope";
}
body {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Main-background);
}
.pattern {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: -1;
}
.background {
  width: 100%;
}
.circle {
  position: absolute;
  top: 15%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}
.container h1 {
  font-weight: var(--max-font-width);
  color: var(--Text-and-CTA-background);
  text-align: center;
}
.header-paragraph {
  color: var(--Text);
  font-weight: var(--min-font-width);
  font-size: 15px;
  text-align: center;
}
.main-content {
  margin-top: 75px;
  background-color: var(--White);
  border-radius: 5px;
  width: 100%;
}
.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 25px 45px;
}
.first-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.views {
  letter-spacing: 2px;
  color: var(--Text);
  font-weight: var(--max-font-width);
}
.per-month {
  display: flex;
  align-items: center;
  gap: 10px;
}
.per-month-mobile {
  display: none;
}
.per-month h1 {
  font-weight: 900;
}
.per-month p {
  color: var(--Text);
  font-weight: var(--max-font-width);
}
.last-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px 0;
  gap: 10px;
  font-size: 15px;
  font-weight: var(--min-font-width);
}
.discount {
  background-color: var(--discount-background);
  color: var(--discount-text);
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: var(--max-font-width);
}
.last-row p {
  color: var(--Text);
}
#checkbox {
  display: none;
}
.toggle {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
  width: 50px;
  background-color: var(--toggle-background);
  height: 25px;
  cursor: pointer;
}
.toggle-button {
  height: 18px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--White);
}
#checkbox:checked + .toggle {
  background-color: var(--full-slider-bar);
  justify-content: end;
}
.buttom {
  border-top: 1px solid var(--toggle-background);
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offers {
  list-style: none;
}
.offers li {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  color: var(--Text);
  font-weight: var(--min-font-width);
}
.CTA {
  background-color: var(--Text-and-CTA-background);
  border: none;
  border-radius: 30px;
  padding: 10px 45px;
  color: var(--CTA-text);
  font-weight: var(--min-font-width);
  cursor: pointer;
}
.CTA:hover {
  color: var(--White);
}
@media (max-width: 450px) {
  .container {
    width: 90%;
    padding: 10px 0;
  }
  .top {
    padding: 25px 20px;
  }
  .last-row {
    gap: 3px;
    font-size: 12px;
  }
  .per-month {
    display: none;
  }
  .per-month-mobile {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .per-month-mobile h1 {
    font-weight: 900;
  }
  .per-month-mobile p {
    color: var(--Text);
    font-weight: var(--max-font-width);
  }
  .first-row {
    justify-content: center;
  }
  .buttom {
    flex-direction: column;
  }
  .offers {
    margin-bottom: 25px;
  }
  .header {
    font-size: 20px;
  }
  .header-paragraph {
    width: 60%;
  }
  body {
    height: 120vh;
  }
}
#slider {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  margin: 40px 0;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 8px;
  background: var(--Empty-slider-bar);
}

/* Thumb: webkit */
#slider::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 40px;
  width: 40px;
  background-color: hsl(174, 86%, 45%);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  background: url("/assets/Mediamodifier-Design-Template.png") no-repeat center;
}

/* Thumb: Firefox */
#slider::-moz-range-thumb {
  height: 40px;
  width: 40px;
  background-color: hsl(174, 86%, 45%);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  background: url("/assets/Mediamodifier-Design-Template.png") no-repeat center;
  box-shadow: 0 15px 15px 5px var(--full-slider-bar);
}

/* Hover, active & focus Thumb: Webkit */
#slider::-webkit-slider-thumb:hover {
  background: url("/assets/Mediamodifier-Design-Template-hover.png") no-repeat
    center;
}
#slider:active::-webkit-slider-thumb {
  background: url("/assets/Mediamodifier-Design-Template-active.png") no-repeat
    center;
  cursor: grabbing;
}

/* Hover, active & focus Thumb: Firefox */
#slider::-moz-range-thumb:hover {
  background: url("/assets/Mediamodifier-Design-Template-hover.png") no-repeat
    center;
}
#slider:active::-moz-range-thumb {
  background: url("/assets/Mediamodifier-Design-Template-active.png") no-repeat
    center;
  cursor: grabbing;
}
